<div class="share-links">
  <span class="sr-only">Share</span>
  <ul id="dropdown-mobile" class="dropdown-menu">
    <li class="share-icon">
      <a href="#" class="soc-share">
        <span class="sr-only">Share this page</span>
        <span class="fa fa-share-alt" aria-hidden="true"></span>
      </a>
    </li>
    <li class="twitter">
      <a href="{{twitter}}" target="_blank" class="soc-share">
        <span class="sr-only">on Twitter</span>
        <span class="fa fa-twitter" aria-hidden="true"></span>
      </a>
    </li>
    <li class="facebook">
      <a href="{{facebook}}" target="_blank" class="soc-share facebook">
        <span class="sr-only">on Facebook</span>
        <span class="fa fa-facebook " aria-hidden="true"></span>
      </a>
    </li>
    <li class="linkedin">
      <a href="{{linkedin}}" target="_blank" class="soc-share linkedin">
        <span class="sr-only">on LinkedIn</span>
        <span class="fa fa-linkedin" aria-hidden="true"></span>
      </a>
    </li>
    <li class="email">
      <a href="{{email}}" target="_blank" class="soc-share">
        <span class="sr-only">via Email</span>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" style="height:26px;">
          <defs>
            <style>
              .cls-1{fill:#666;}
              .cls-2{fill:#fff;}
              .cls-3{fill:none;}
            </style>
          </defs>
          <title>Asset 173</title>
          <g id="Layer_2" data-name="Layer 2">
            <g id="Icons_-_Expanded" data-name="Icons - Expanded">
              <rect class="cls-1" x="3" y="7" width="18" height="11"></rect>
              <path class="cls-1" d="M20,8v9H4V8H20m2-2H2V19H22V6Z"></path>
              <polygon class="cls-2" points="12 15.25 3.4 8.8 4.6 7.2 12 12.75 19.4 7.2 20.6 8.8 12 15.25"></polygon>
              <path class="cls-1" d="M20,8v9H4V8H20m2-2H2V19H22V6Z"></path>
              <rect class="cls-3" width="24" height="24"></rect>
            </g>
          </g>
        </svg>
      </a>
    </li>
  </ul>
</div>