.qandalist {
  .qandalist__item {
    margin-top: 32px;
  }

  .qandalist__question {
    color: $gray-3;
    font-size: 1.428rem;
    line-height: 26px;
    padding: 3px 0 24px 64px;
    position: relative;

    &::before {
      background: $gray-3;
      color: $white;
      content: 'Q';
      font-size: 1.428rem;
      line-height: 26px;
      height: 32px;
      left: 0;
      padding: 3px 0 0;
      position: absolute;
      text-align: center;
      top: 0;
      width: 32px;
    }
  }

  .qandalist__answer {
    font-size: 1.142rem;
    line-height: 24px;
    min-height: 32px;
    padding: 3px 0 0 64px;
    position: relative;

    &::before {
      background: $gray-13;
      color: $white;
      content: 'A';
      font-size: 1.428rem;
      line-height: 26px;
      height: 32px;
      left: 0;
      padding: 3px 0 0;
      position: absolute;
      top: 0;
      text-align: center;
      width: 32px;
    }
  }
}
