<div class="t-subfooter-info-cards">
  <div class="container-fluid">
    <div class="full-width top"></div>
    <div class="full-width bottom"></div>

    {% include "@organisms/info-cards/info-cards.twig" %}

  </div>
</div>
