{% extends "@components/listings/listing/listing.twig" %}
{% block navigation %}
{% endblock %}
{% block listing %}
<div id="activity_listing">
  <revision-filter></revision-filter>
</div>
  {{ attach_library('standard_patterns/vue-web-components') }}
{% endblock %}
