{% extends "@components/listings/listing/listing.twig" %}
{% block navigation %}
{% endblock %}
{% block listing %}
<div id="{{paragraph.bundle()}}{{paragraph.id()}}">
  <people-filter
    :filters="filters"
    :base-filters="baseFilters"
    :groups="groups"
  ></people-filter>
</div>
{% endblock %}
