{% extends "@components/listings/listing/listing.twig" %}
{% block navigation %}
{% endblock %}
{% block listing %}
<div id="{{paragraph.bundle()}}{{paragraph.id()}}">
  <listing-practice></listing-practice>
</div>
{% endblock %}
