{% extends "@components/listings/listing/listing.twig" %}
{% block navigation %}
{% endblock %}
{% block listing %}
<div id="{{paragraph.bundle()}}{{paragraph.id()}}">
  <calendar-listing
    :events="events"
  ></calendar-listing>
</div>
{% endblock %}
