<div class="o-subscribe-footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="subscribe-form-header">
          Newsletter
        </div>
        <div class="subscribe-form-text">
          News and research from Women's Place in your inbox every week.
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12" style="position: relative;">
        <form class="email-signup d-flex" action="https://www.osu.edu/subscribe/signup-complete" method="post">
          <input type="hidden" name="url" value="https://insights.osu.edu">
          <input type="hidden" name="confirm_email">

          <div class="cta">
            <label for="email-address-footer" class="sr-only">Email address</label>
            <input type="email" placeholder="Email Address" name="email" id="email-address-footer" />
            <span class="help-block"></span>
          </div>
          <div class="cta">
            <button type="submit" class="button__subscribe--footer">
              Subscribe
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
