{#
/**
 * @file
 * Pattern for a calendar.
 *
 * Available variables:
 * -
 */
#}
<div class="m-calendar">
  <div class="m-calendar-header d-flex">
    <div class="m-calendar-control">
      &lang; JUN
    </div>
    <div class="m-calendar-current">
      JULY 2017
    </div>
    <div class="m-calendar-control">
      AUG &rang;
    </div>
  </div>

  <table class="m-calendar-table">
    <thead>
      <tr>
        <th>S</th>
        <th>M</th>
        <th>T</th>
        <th>W</th>
        <th>T</th>
        <th>F</th>
        <th>S</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td>6</td>
        <td>7</td>
      </tr>
      <tr>
        <td>8</td>
        <td>9</td>
        <td>10</td>
        <td>11</td>
        <td class="active">12</td>
        <td>13</td>
        <td>14</td>
      </tr>
      <tr>
        <td>15</td>
        <td>16</td>
        <td>17</td>
        <td>18</td>
        <td>19</td>
        <td>20</td>
        <td>21</td>
      </tr>
      <tr>
        <td>22</td>
        <td>23</td>
        <td>24</td>
        <td>25</td>
        <td>26</td>
        <td>27</td>
        <td>29</td>
      </tr>
      <tr>
        <td>30</td>
        <td>31</td>
      </tr>
    </tbody>
  </table>

</div>
