<div class="rich-four-up">
  <div class="rich-3x4" style="background-color: red;">
    <div class="rich-3x4--inner">
      <a class="rich-3x4--button" href="#"><span>Gateway to Bunnies</span></a>
    </div>
  </div>
  <div class="rich-3x4" style="background-color: green;">
    <div class="rich-3x4--inner">
      <a class="rich-3x4--button" href="#"><span>Buy! Buy! Buy!</span></a>
    </div>
  </div>
  <div class="rich-3x4" style="background-color: blue;">
    <div class="rich-3x4--inner">
      <a class="rich-3x4--button" href="#"><span>Duck and cover</span></a>
    </div>
  </div>
  <div class="rich-3x4" style="background-color: yellow;">
    <div class="rich-3x4--inner">
      <a class="rich-3x4--button" href="#"><span>Wherever you go there you are</span></a>
    </div>
  </div>
</div>
