/**
 * This is a shim to fix styles in the WYSIWYG editor which are
 * rendered in an iframe with a body tag of cke_editable_themed.
 *
 * Because of input filters and other factors some things may be
 * styled differently than when rendered.
 */

.cke_editable_themed {
  padding: 10px;

  /// Scale our images.
  .embedded-entity {
    &.view-mode-thumbnail {
      width: 100px;
    }

    &.view-mode-large {
      width: 100%;
    }

    &.view-mode-medium {
      width: 50%;
    }

    &.view-mode-medium-large {
      width: 67%;
    }

    &.view-mode-small {
      width: 33%;
    }

    &.view-mode-tiny {
      width: 20%;
    }

    .media-image {
      img {
        max-width: 100%;
        height: auto;
      }
    }
  }

  /// Add some margins
  .align-left {
    margin-right: 10px;
  }

  .align-right {
    margin-left: 10px;
  }
}

ol.rich-list-decimal {
  list-style-type: decimal;
}

ol.rich-list-alpha-upper {
  list-style-type: upper-alpha;
}

ol.rich-list-alpha-lower {
  list-style-type: lower-alpha;
}

ol.rich-list-roman-upper {
  list-style-type: upper-roman;
}

ol.rich-list-roman-lower {
  list-style-type: lower-roman;
}
