{% extends "@components/floors/floor/floor.twig" %}
{% set class = 'c-floor-directory' %}
{% block component %}
  <div class="c-floor-directory--people">
  {{ content.people }}
  </div>
{% endblock %}