<div {{ attributes.addClass(["m-full-teaser-news"]) }} >
  <div class="m-full-teaser-news__publish-date--wrapper">
    <div class="m-full-teaser-news__publish-date d-flex align-items-center justify-content-center">{{ content.publish_date }}</div>
  </div>

  <div class="m-full-teaser-news__summary--wrapper">
    <h3>{{ content.title }}</h3>
    <div class="m-full-teaser-news__summary">{{ content.summary }}</div>
  </div>
</div>
