<html>
<head>
  <title>{{ subject }}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, height=device-height" />
  <style type="text/css">
    body {
      margin: 0;
      padding: 0;
      width: 100%;
      -webkit-text-size-adjust: none !important;
      -ms-text-size-adjust: none !important;
      font-family: Arial, sans-serif !important;
    }

    a:link,
    a:visited,
    a:active,
    a:focus {
      color: #0057AD;
    }

    .appleLinksLight,
    .appleLinksLight a {
      color: #ffffff !important;
      text-decoration: none !important;
    }

    .appleLinksDark,
    .appleLinksDark a {
      color: #333333 !important;
      text-decoration: none !important;
    }

    table,
    td,
    div {
      border-collapse: collapse !important;
    }

    p {
      margin: 0 !important;
      padding: 0 !important;
    }

    @media all and (max-width: 645px) {
      .m-width100 {
        height: auto !important;
        min-width: 100% !important;
        width: 100% !important;
        max-width: 100% !important;
      }

      .m-column {
        display: block !important;
        width: 100% !important;
      }

      .m-logo {
        width: 100% !important;
        max-width: 231px !important;
        height: auto !important;
      }

      .m-side-padding {
        padding-left: 15px !important;
        padding-right: 15px !important;
      }

      .m-align-left {
        padding: 0 10px 0 0 !important;
        text-align: left !important;
      }

      .m-text-align-left {
        text-align: left !important;
      }

      .m-float-left {
        float: left !important;
      }

      .m-table-align-left {
        float: left !important;
        text-align: left !important;
      }

      .m-no-top-padding {
        padding-top: 0 !important;
      }

      .m-no-bottom-padding {
        padding-bottom: 0 !important;
      }

      .m-no-side-padding {
        padding-left: 0 !important;
        padding-right: 0 !important;
      }

      .m-hero {
        height: auto !important;
        width: 100% !important;
      }

      .m-image-475 {
        height: auto !important;
        max-width: 475px !important;
        width: 100% !important;
        display: inline-block !important;
        text-align: center !important;
      }

      .m-15-25 {
        font-size: 15px !important;
        line-height: 25px !important;
      }

      .m-17-27 {
        font-size: 17px !important;
        line-height: 27px !important;
      }

      .m-18-28 {
        font-size: 18px !important;
        line-height: 28px !important;
      }

      .m-24-34 {
        font-size: 24px !important;
        line-height: 34px !important;
      }

      .m-28-38 {
        font-size: 28px !important;
        line-height: 38px !important;
      }

      .m-40-40 {
        font-size: 40px !important;
        line-height: 40px !important;
      }

      .m-20-30 {
        font-size: 20px !important;
        line-height: 30px !important;
      }

      .m-top-padding10 {
        padding-top: 10px !important;
      }

      .m-top-padding20 {
        padding-top: 20px !important;
      }

      .m-top-padding30 {
        padding-top: 30px !important;
      }

      .m-top-padding40 {
        padding-top: 40px !important;
      }

      .m-top-padding50 {
        padding-top: 50px !important;
      }

      .m-bottom-padding10 {
        padding-bottom: 10px !important;
      }

      .m-bottom-padding20 {
        padding-bottom: 20px !important;
      }

      .m-bottom-padding30 {
        padding-bottom: 30px !important;
      }

      .m-bottom-padding40 {
        padding-bottom: 40px !important;
      }

      .m-bottom-padding50 {
        padding-bottom: 50px !important;
      }

      .m-padding10 {
        padding: 10px !important;
      }

      .m-padding20 {
        padding: 20px !important;
      }

      .m-left-right-bottom-padding10 {
        padding-left: 10px !important;
        padding-right: 10px !important;
        padding-bottom: 10px !important;
      }

      .m-min-height {
        height: 300px !important;
        padding-top: 15px !important;
        padding-bottom: 15px !important;
      }

      .m-min-height-no-top-padding {
        height: 300px !important;
        padding-top: 0 !important;
        padding-bottom: 15px !important;
      }
    }
  </style>
</head>
<body>
<!-- ====================== START Preview text ====================== -->
<div style="display:none;font-size:1px;color:#333333;line-height:1px;max-height:0px;max-width:0px;opacity:0;overflow:hidden;"> The Ohio State University </div>
<!-- ====================== END Preview text ====================== -->
<center>
  <!-- ====================== START Masthead, white bg ====================== -->
  <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="text-align: center;" bgcolor="#ffffff">
    <tr>
      <td align="center" valign="top" style="padding-top: 0; padding-right: 15px; padding-bottom: 0; padding-left: 15px;">
        <table class="m-width100" width="600" border="0" align="center" cellpadding="0" cellspacing="0" style="width:600px; min-width:600px; max-width:600px; text-align: center;">
          <tr>
            <td align="left" valign="top" style="font-family: Arial, sans-serif; font-size: 13px; color: #999999; padding-top: 15px; padding-right: 0; padding-bottom: 15px; padding-left: 0;">
              <img src="https://osu.edu/assets/web/email/assets/logo-OhioState-horiz@2x.png" height="33" alt="The Ohio State University logo" />
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <!-- ====================== END Masthead, gray bg ====================== -->
  <!-- ====================== START Text-only, lead, angled ====================== -->
  <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="text-align: center;" bgcolor="#eeeeee">
    <tr>
      <td align="center" valign="top" style="padding-top: 30px; padding-right: 15px; padding-bottom: 0; padding-left: 15px;">
        <table role="presentation" class="m-width100" width="600" border="0" align="center" cellpadding="0" cellspacing="0" style="width:600px; min-width:600px; max-width:600px; text-align: center;">
          <tr>
            <td class="m-28-38" align="left" valign="top" style="font-family: Arial, sans-serif; font-size: 36px; line-height: 46px; font-weight: bold; color: #333333; padding-top: 15px; padding-right: 0; padding-bottom: 15px; padding-left: 0;">
              <h1 style="font-family: Arial, sans-serif; font-size: 36px; line-height: 46px; font-weight: bold; color: #333333; margin: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0;">
                {{ subject }}
              </h1>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="text-align: center;" bgcolor="#eeeeee">
    <!-- ====================== START Divider ====================== -->
    <tr>
      <td align="center" valign="top" style="padding-top: 0; padding-right: 15px; padding-bottom: 0; padding-left: 15px;">
        <table class="m-width100" width="600" border="0" align="center" cellpadding="0" cellspacing="0" style="width:600px; min-width:600px; max-width:600px; text-align: center;">
          <tr>
            <td>
              <table width="50" height="4" border="0" align="left" cellpadding="0" cellspacing="0" style="width:50px; min-width:50px; max-width:50px; text-align: left;">
                <tr>
                  <td align="left" valign="top" style="border-top: 4px solid #bb0000;"> &nbsp; </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <!-- ====================== END Text-only, lead, angled ====================== -->
  <!-- ====================== START Head Medium + copy + btn ====================== -->
  <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="text-align: center;" bgcolor="#ffffff">
    <tr>
      <td align="center" valign="top" style="padding-top: 30px; padding-right: 15px; padding-bottom: 30px; padding-left: 15px;">
        <table role="presentation" class="m-width100" width="600" border="0" align="center" cellpadding="0" cellspacing="0" style="width:600px; min-width:600px; max-width:600px; text-align: center;">
          <tr>
            <td class="m-24-34" align="left" valign="top" style="font-family: Arial, sans-serif; font-size: 28px; font-weight: bold; line-height: 38px; color: #333333; padding-top: 0; padding-right: 0; padding-bottom: 6px; padding-left: 0;">
              <h2 style="font-family: Arial, sans-serif; font-size: 28px; font-weight: bold; line-height: 38px; color: #333333; margin: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0;">Form Values</h2>
            </td>
          </tr>
          <!-- ====================== START Paragraph ====================== -->
          <tr>
            <td class="m-15-25" align="left" valign="top" style="font-family: Arial, sans-serif; font-size: 17px; line-height: 28px; color: #333333;">
              {{ body|raw }}
            </td>
          </tr>
          <!-- ====================== END Paragraph ====================== -->
        </table>
      </td>
    </tr>
  </table>
  <!-- ====================== END Head Medium + copy + btn ====================== -->
  <!-- ====================== START Footer ====================== -->
  <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="text-align: center;" bgcolor="#f7f7f7">
    <tr>
      <td align="center" valign="top" style="text-align: center; padding-top: 0px; padding-bottom: 0px; padding-left: 15px; padding-right: 15px;">
        <table class="m-width100" width="600" border="0" align="center" cellpadding="0" cellspacing="0" style="width:600px; min-width:600px; max-width:600px; text-align: center;">
          <tr>
            <td valign="top" style="vertical-align: top; font-size: 0; border-bottom: 2px solid #dddddd;">
              <table class="m-width100" align="left" cellpadding="0" cellspacing="0" border="0" style="float: left; width: 425px;">
                <tr>
                  <td align="left" style="padding-top: 30px; padding-bottom: 25px; padding-left: 0; padding-right: 0;">
                    <table role="presentation" class="m-column" align="left" border="0" cellspacing="0" cellpadding="0" style="text-align: left;">
                      <tr>
                        <td valign="top">
                          <!-- ====================== START Secondary logo ====================== -->
                          <img src="https://osu.edu/assets/web/email/assets/logo-OhioState-horiz@2x.png" width="231" height="33" alt="The Ohio State University logo"
                               style="width: 231px; height: 33px; font-family: Arial, sans-serif; font-size: 12px; color: #999999;" class="m-logo" />
                          <!-- ====================== END Secondary logo ====================== -->
                        </td>
                      </tr>
                      <!-- ====================== START Contact info ====================== -->
                      <tr>
                        <td style="font-family: Arial, sans-serif; font-size: 14px; line-height: 22px; font-weight: bold; color: #333333; padding-top: 25px; padding-bottom: 0; padding-left: 0; padding-right: 0;"> &copy; {{ "now"|date('Y') }} | The Ohio State University </td>
                      </tr>
                      <tr>
                        <td style="font-family: Arial, sans-serif; font-size: 14px; line-height: 22px; color: #333333; padding-top: 0; padding-bottom: 0; padding-left: 0; padding-right: 0;">
                          <a href="https://www.osu.edu" style="font-family: Arial, sans-serif; color: #666666;">osu.edu</a>
                        </td>
                      </tr>
                      <!-- ====================== END Contact info ====================== -->
                    </table>
                  </td>
                </tr>
              </table>
              <table class="m-align-left m-width100" align="right" cellpadding="0" cellspacing="0" border="0" style="float: right; width: 155px;">
                <tr>
                  <td class="m-no-top-padding" align="left" style="text-align: left; padding-top: 30px; padding-bottom: 10px; padding-left: 0; padding-right: 0;">
                  </td>
                </tr>
                <tr>
                  <td align="left" style="padding-top: 0; padding-right: 0; padding-bottom: 25px; padding-left: 0;">
                    <table role="presentation" class="m-table-align-left" align="right" border="0" cellspacing="0" cellpadding="0" style="text-align: right;">
                      <!-- ====================== START university social media ====================== -->
                      <tr>
                        <td class="m-text-align-left" valign="top" style="font-family: Arial, sans-serif; font-size: 12px; line-height: 17px; color: #666666; padding-bottom: 5px; text-align: right;"> The Ohio State University </td>
                      </tr>
                      <tr>
                        <td class="m-align-left" style="text-align: right;">
                          <table border="0" cellspacing="0" cellpadding="0" style="float: right;" class="m-float-left">
                            <tr>
                              <td class="m-align-left" style="text-align: right; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0;">
                                <table border="0" cellspacing="0" cellpadding="0">
                                  <tr>
                                    <td height="28" width="28">
                                      <a href="https://www.facebook.com/osu" aria-label="View The Ohio State University Facebook"><img src="https://osu.edu/assets/web/email/assets/socialicons/facebook-lightgray@2x.png"
                                                                                                                                       style="width: 28px; height: 28px;" border="0" width="28" height="28" alt="View The Ohio State University Facebook" /></a>
                                    </td>
                                  </tr>
                                </table>
                              </td>
                              <td class="m-align-left" style="text-align: right; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 10px;">
                                <table border="0" cellspacing="0" cellpadding="0">
                                  <tr>
                                    <td height="28" width="28">
                                      <a href="https://www.twitter.com/ohiostate" aria-label="View The Ohio State University Twitter"><img src="https://osu.edu/assets/web/email/assets/socialicons/twitter-lightgray@2x.png"
                                                                                                                                           style="width: 28px; height: 28px;" border="0" width="28" height="28" alt="View The Ohio State University Twitter" /></a>
                                    </td>
                                  </tr>
                                </table>
                              </td>
                              <td class="m-align-left" style="text-align: right; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 10px;">
                                <table border="0" cellspacing="0" cellpadding="0">
                                  <tr>
                                    <td height="28" width="28">
                                      <a href="https://instagram.com/theohiostateuniversity/" aria-label="View The Ohio State University Instagram"><img src="https://osu.edu/assets/web/email/assets/socialicons/instagram-lightgray@2x.png"
                                                                                                                                                         style="width: 28px; height: 28px;" border="0" width="28" height="28" alt="View The Ohio State University Instagram" /></a>
                                    </td>
                                  </tr>
                                </table>
                              </td>
                              <td class="m-align-left" style="text-align: right; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 10px;">
                                <table border="0" cellspacing="0" cellpadding="0">
                                  <tr>
                                    <td height="28" width="28">
                                      <a href="https://www.youtube.com/user/OhioStateUniversity" aria-label="View The Ohio State University YouTube"><img src="https://osu.edu/assets/web/email/assets/socialicons/youtube-lightgray@2x.png"
                                                                                                                                                          style="width: 28px; height: 28px;" border="0" width="28" height="28" alt="View The Ohio State University YouTube" /></a>
                                    </td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                      <!-- ====================== END university social media ====================== -->
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <!-- ====================== END Footer ====================== -->
</center>
</body>

</html>
