{#
/**
 * @file
 * Pattern for dates display: month, days, year.
 *
 * Available variables:
 * -
 */
#}
<div class="m-dates d-flex">
  <div class="m-dates--monthdays">{{ occurrence_month_day_range_string }}, {{ occurrence_year_range_string }}</div>
</div>
