<div class="video-component">
  <div class="container">
  {{ content.video }}
  </div>

  <div class="container">
    <div class="video-share">
      <div class="label-video-share">
        {{ content.description }}
      </div>
    </div>
  </div>
</div>
