/* ------------------------------------
  #COLORS
  ------------------------------------ */

/* WHITE */
$white: #fff;

/* BLACK */
$black: #060606;

/* SCARLET */
$scarlet: #b00;
$scarlet-1: #800;
$scarlet-2: #960000;

/* GRAY */
$gray-0: #666;
$gray-1: #ededed;
$gray-2: #333;
$gray-3: #222;
$gray-4: #444;
$gray-5: #6c6c6c;
$gray-6: #eee;
$gray-7: #555;
$gray-8: #ccc;
$gray-9: #ddd;
$gray-10: #bbb;
$gray-11: #777;
$gray-12: #979797;
$gray-13: #949494;
$gray-14: #f7f7f7;

/* VANILLA */
$vanilla: #fff2ce;

/* BEIGE */
$beige: #ffeaae;

/* ------------------------------------
  #INCLUDED COLORS
  #Packaged with PatternLab install
  ------------------------------------ */
$near-white: #f2f2f2;
$gray-lightest: #e5e5e5;
$gray-lighter: #ccc;
$gray-light: #999;
$gray: #666;
$gray-dark: #4c4c4c;
$gray-darker: #333;
