{#
/**
 * @file
 * Pattern for hero.
 *
 * Available variables:
 * -
 */
#}
<div class="hero jarallax {% if pl and options %}holderjs{% endif %}" style="background-image: url({{ hero_image }})">

  <div class="hero-gradient"></div>

  <div class="container">
    <h1 class="title">{{ title }}</h1>
    <div class="suffix">{{ suffix }}</div>
  </div>

</div>
