<a class="c-component-twitter-timeline twitter-timeline"
   href="https://twitter.com/{{ screen_name }}"
   {% if width %}  data-width="{{ width }}" {% endif %}
   {% if height %} data-height="{{ height }}" {% endif %}
   {% if limit %}  data-tweet-limit="{{ limit }}" {% endif %}
   data-chrome="noheader nofooter noborders noscrollbar transparent">
  Tweets by @TwitterDev
</a>
{# This could probably be done better. #}
<script>window.twttr = (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0],
        t = window.twttr || {};
    if (d.getElementById(id)) return t;
    js = d.createElement(s);
    js.id = id;
    js.src = "https://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);

    t._e = [];
    t.ready = function(f) {
        t._e.push(f);
    };
    return t;
}(document, "script", "twitter-wjs"));</script>
