<div class="m-page-banner-conference">
  <div class="container">
    <div class="m-page-banner-conference__image" style="background-image: url({{ image_url }});">
      <img src="{{ image_url }}" class="d-sm-block d-md-none" alt="Hero banner image" />
    </div>
  </div>
</div>
