{#
/**
 * @file
 * Pattern for button-close.
 *
 * Available variables:
 * -
 */
#}
<button type="button" class="button-close {{ button_class }}" aria-label="{{ aria_label }}">
  <img src="../../images/button_x.png" alt="{{ alt_text }}" aria-hidden="true" />
</button>
